.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button_group {
  margin-bottom: 5%;
}

.app__buttons {
  text-decoration: none;
}

.app__title {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 1.5rem;
}
